<div class="blog-section section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 text-center">
                <div class="section-title">
                    <h6>From Our Blog</h6>
                    <h2>Our latest news</h2>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="blog-carousel owl-carousel">
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".2s">
                    <div class="blog-img">
                        <img src="assets/img/blog/1.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Civil Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>The best ways to protect your family and business in 2023</h4>
                        </div>
                        <div class="blog-info">
                            <span>February 05 2024</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".4s">
                    <div class="blog-img">
                        <img src="assets/img/blog/2.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Labour Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>Workers charged in a pursuit that paralyzed a payment</h4>
                        </div>
                        <div class="blog-info">
                            <span>February 15 2024</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".6s">
                    <div class="blog-img">
                        <img src="assets/img/blog/3.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Criminal Law</span>
                        </div>
                        <div class="blog-title">
                            <h4>Ten myths about lawyers and criminal defence attorneys</h4>
                        </div>
                        <div class="blog-info">
                            <span>February 28 2024</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
                <a href="blog-details.html" class="single-blog-item wow fadeInUp" data-wow-delay=".8s">
                    <div class="blog-img">
                        <img src="assets/img/blog/4.jpg" alt="">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>Legal Service</span>
                        </div>
                        <div class="blog-title">
                            <h4>Legal services improvement sight of Court Area</h4>
                        </div>
                        <div class="blog-info">
                            <span>November 2 2023</span>
                            <span>1 comment</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>