<div id="about-1" class="about-section gray-bg section-padding pb-150">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about-img-wrap">
                    <div class="image-one wow fadeInUp" data-wow-delay=".2s">
                        <img src="assets/img/about/1-1.jpg" alt="">
                    </div>                        
                    <div class="image-two wow fadeInUp" data-wow-delay=".4s">
                        <img src="assets/img/about/1-2.jpg" alt="">
                    </div>                        
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about-content-wrap">
                    <div class="section-title">
                        <h6>About Us</h6>
                        <h2>Your legal safety is <br> our top priority</h2>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    <ul class="about-key mt-30">
                        <li><i class="las la-check-square"></i>
                            <p>Best Legal Services</p>
                        </li>
                        <li><i class="las la-check-square"></i>
                            <p>100% Success Rate</p>
                        </li>
                        <li><i class="las la-check-square"></i>
                            <p>Expert Lawyer</p>
                        </li>
                        <li><i class="las la-check-square"></i>
                            <p>Affordable Cost Rate</p>
                        </li>
                    </ul>
                    <a href="about.html" class="theme-btn mt-30">About Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
