<div class="video-section" data-background="assets/img/video-bg.jpg">        
    <div class="video-inner-box">            
        <div class="play-btn">
            <a href="https://www.youtube.com/watch?v=7q0TRgDvT9k" class="video-play-btn mfp-iframe">Play</a>
        </div>
    </div>
</div>

<!-- Price Section  -->
<div class="price-section section-padding gray-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 order-2 order-lg-1">
                <div class="row">
                    <div class="col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-price-item">
                            <div class="price-title">
                                <h5>Gold pack</h5>
                            </div>
                            <p>Dicta sunt elit explicabo</p>
                            <div class="price-tag">
                                <span>$</span>
                                <span class="price-amount">100</span>
                                <span>/mo</span>
                            </div>
                            <div class="price-feat-list">
                                <ul>
                                    <li>Support Frequently</li>
                                    <li>Flexible Charge</li>
                                    <li>Ontime Result</li>                                        
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="#" class="dark-btn mt-30">Get Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-price-item">
                            <div class="price-title">
                                <h5>Silver pack</h5>
                            </div>
                            <p>Dicta sunt elit explicabo</p>
                            <div class="price-tag">
                                <span>$</span>
                                <span class="price-amount">80</span>
                                <span>/mo</span>
                            </div>
                            <div class="price-feat-list">
                                <ul>
                                    <li>Support Frequently</li>
                                    <li>Flexible Charge</li>
                                    <li>Ontime Result</li>                                        
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="#" class="dark-btn mt-30">Get Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 order-1 order-lg-2">
                <div class="price-content-wrap">
                    <div class="section-title">
                        <h6>Pricing Plans</h6>
                        <h2>Our tariff plans</h2>
                    </div>
                    <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    <a href="about.html" class="theme-btn mt-30">About Us</a>
                </div>
            </div>
        </div>
    </div>
</div>