<div class="testimonial-section">        
    <div class="testimonal-inner">
        <div class="section-title">
            <h6 class="text-white">Testimonial</h6>
            <h2 class="text-white">What they say</h2>
        </div>
        <div class="testimonial-content-wrap owl-carousel">
            <div class="single-testimonial-item">
                <div class="quote-icon">
                    <img src="assets/img/straight-quotes-small.png" alt="">
                </div>
                <div class="testimonial-text">
                    <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                </div>
                <div class="author-thumb">
                    <img src="assets/img/testimonial/1.jpg" alt="">
                </div>
                <div class="testimonial-title">
                    <h5>Rhonda Najar</h5>
                    <p>Law Student</p>
                </div>
            </div>
            <div class="single-testimonial-item">
                <div class="quote-icon">
                    <img src="assets/img/straight-quotes-small.png" alt="">
                </div>
                <div class="testimonial-text">
                    <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                </div>
                <div class="author-thumb">
                    <img src="assets/img/testimonial/2.jpg" alt="">
                </div>
                <div class="testimonial-title">
                    <h5>Rhonda Najar</h5>
                    <p>Law Student</p>
                </div>
            </div>
            <div class="single-testimonial-item">
                <div class="quote-icon">
                    <img src="assets/img/straight-quotes-small.png" alt="">
                </div>
                <div class="testimonial-text">
                    <p>Ignissimos ducimos qui blandiitis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi, sint occaecatii gnissimos ducimus qui blandiitis.</p>
                </div>
                <div class="author-thumb">
                    <img src="assets/img/testimonial/3.jpg" alt="">
                </div>
                <div class="testimonial-title">
                    <h5>Rhonda Najar</h5>
                    <p>Law Student</p>
                </div>
            </div>
        </div>
    </div>

<div class="testimonial-bg"></div>
</div>